name: Build Ganjybird APK

on:
  push:
    branches: [ main ]

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build APK
        uses: ademofunmi/love-android-builder@v3
        with:
          bundle_id: "com.druiz.ganjybird"
          app_name: "Ganjybird"
