name: Build Ganjybird APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Android APK
        uses: love-actions/love-actions-android@v1.1.3
        with:
          bundle-id: "com.druiz.ganjybird"
          app-name: "Ganjybird"
