name: Build Ganjybird APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Android APK
        uses: love2d/love-android-action@v1
        with:
          bundle-id: "com.druiz.ganjybird"
          app-name: "Ganjybird"
